<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products Card</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
            .shopping-cart {
                margin-top: 20px;
            }

            .cart-item {
                margin-bottom: 10px;
            }
        </style>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>
        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Product list -->
                            <table class="table table-bordered table-striped custom-table">
                                <thead class="thead-dark">
                                    <tr class="text-center thead-light">
                                        <th colspan="2"><a href="#">List</a></th>
                                        <th><a href="#">Cost-effective</a></th>
                                        <th colspan="2"><a href="#">Viability</a></th>
                                        <th><a href="#">Operative Planing</a></th>
                                    </tr>
                                    <tr class="text-center thead-light">
                                        <th colspan="3"><a th:href="@{/sells_listCompras}">Purchase</a></th>
                                        <th colspan="1"><a th:href="@{/sells_form}">Add-Purcharses</a></th>
                                        <th colspan="3"><a th:href="@{/sells_listSales}">Sale</a></th>
                                    </tr>
                                    <tr class="text-center">
                                        <th colspan="2">Month</th>
                                        <th colspan="2">Product</th>
                                        <th colspan="2">Quantity Sold</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="sale : ${sales}" class="text-center">
                                        <td colspan="2" th:text="${sale.operationDate}"></td>
                                        <td colspan="2" th:text="${sale.product.name}"></td>
                                        <td colspan="2" th:text="${sale.quantitySold}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>