<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products Card</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
            .shopping-cart {
                margin-top: 20px;
            }

            .cart-item {
                margin-bottom: 10px;
            }
        </style>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Product list -->
                            <table class="table table-bordered table-striped custom-table">
                                <thead class="thead-dark">
                                    <tr class="text-center thead-light">
                                        <th colspan="2"><a th:href="@{/api/bills/generate}">List</a></th>
                                        <th colspan="2"><a th:href="@{/api/bills/cost-effective}">Cost-effective</a></th>
                                        <th colspan="2"><a th:href="@{/api/bills/operative-planning}">Viability</a></th>
                                        <th colspan="2"><a th:href="@{/api/bills/viability}">Operative Planing</a></th>
                                    </tr>
                                    <tr class="text-center thead-light">
                                        <th colspan="4"><a th:href="@{/sells_listCompras}">Purchase</a></th>
                                        <th colspan="4"><a th:href="@{/sells_listSales}">Sale</a></th>
                                    </tr>
                                    <tr class="text-center thead-dark">
                                        <th >Month</th>
                                        <th colspan="2">Product</th>
                                        <th colspan="2">Quantity Purchased</th>
                                        <th>Price</th>
                                        <th>Supplier</th>
                                        <th>Delivery Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="sell : ${sells}" class="text-center">
                                        <td th:text="${sell.product.Datebuy}"></td>
                                        <td colspan="2" th:text="${sell.product.name}"></td>
                                        <td colspan="2" th:text="${sell.product.quantity}"></td>
                                        <td th:text="${sell.quantity}"></td>
                                        <td th:text="${sell.supplier.firstname}"></td>
                                        <td th:text="${sell.deliveryDateString}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="container">
                                <h4 class="text-center">Filter Purchases by Date</h4>
                                <div class="form-group">
                                    <input type="date" id="filterDate">
                                </div>
                                <button onclick="filterTable()">Filter</button>
                                <button id="resetFilter" onclick="resetFilter()" style="display: none;">Reset Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{js/filter.js}"></script>

    </body>
</html>