<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Suppliers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container mt-5">
            <h2 class="text-center">Add Customer</h2>

            <form th:object="${customer}" th:action="@{/customer/form}" method="post">

                <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" th:field="*{firstname}" required>
                </div>

                <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" th:field="*{lastname}" required>
                </div>

                <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required>
                </div>

                <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" th:field="*{phone}" required>
                </div>

                <div class="form-group">
                <label for="adress">Adress:</label>
                <input type="text" id="adress" th:field="*{adress}" required>
                </div>


                <div class="form-group">
                <input type="hidden" id="id" th:field="*{id}">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
            <br/><!-- comment -->
            <a th:href="@{'/customer/list'}">Go to customer list</a>

    </body>
</html>