<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <title>ERP Dashboard</title>
        <style>
            .shopping-cart {
                margin-top: 20px;
            }

            .cart-item {
                margin-bottom: 10px;
            }

        </style>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>

    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Product list -->
                            <table class="table table-bordered table-striped custom-table">

                                <!-- Search and filter section -->
                                <div class=" form-group row g-3">
                                    <div class="col-md-9">
                                        <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="generalFilter('customerFirstname')">
                                    </div>
                                    <div class="col-md-3">
                                        <select id="selectInput" class="form-control">
                                            <option value="customerFirstname" selected>First name</option>
                                            <option value="customerLastname">Last name</option>
                                            <option value="customerEmail">EMail</option>
                                            <option value="customerPhone">Phone</option>
                                            <option value="customerAdress">Adress</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Customer list -->
                                <thead class="thead-dark">
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Adress</th>
                                <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="filteredTableBody">
                                    <tr th:each="customer : ${customers}">
                                        <td><span class="customerId" th:text="${customer.id}"></span></td>
                                        <td><span class="customerFirstname" th:text="${customer.firstname}"></span></td>
                                        <td><span class="customerLastname" th:text="${customer.lastname}"></span></td>
                                        <td><span class="customerEmail" th:text="${customer.email}"></span></td>
                                        <td><span class="customerPhone" th:text="${customer.phone}"></span></td>
                                        <td><span class="customerAdress" th:text="${customer.adress}"></span></td>
                                        <td>
                                            <div>
                                                <!--button class="btn btn-success btn-sm add mx-2">
                                                    <a th:href="@{'/customer_select/' + ${customer.id}}" th:style="'text-decoration: none; color: inherit;'">View</a>
                                                </button-->
                                                <button class="btn btn-primary btn-sm add mx-2">
                                                    <a th:href="@{'/customer_update/' + ${customer.id}}" th:style="'text-decoration: none; color: inherit;'">Edit</a>
                                                </button>
                                                <button class="btn btn-danger btn-sm remove mx-2" data-toggle="modal" data-target="#confirmDeleteModal" th:data-id="${customer.id}">
                                                    Delete
                                                </button>
                                                <!--button class="btn btn-danger btn-sm add mx-2">
                                                    <a th:href="@{'/customer_delete/' + ${customer.id}}" th:style="'text-decoration: none; color: inherit;'">Delete</a>
                                                </button-->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <button class="btn btn-dark add mx-2">
                                    <a th:href="@{'/customer/form'}" th:style="'text-decoration: none; color: inherit;'">Go to customer form</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal DELETE -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas eliminar a este customer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a id="confirmDeleteButton" class="btn btn-danger">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{../js/myjs.js}"></script>
    <script th:src="@{../js/filter.js}"></script>
</html>
