<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
</head>
<body>

<h2>Customer List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Adress</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstname}"></td>
        <td th:text="${customer.lastname}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.adress}"></td>
        <td>
            <a th:href="@{'/customer_select/' + ${customer.id}}">View</a>
            <a th:href="@{'/customer_update/' + ${customer.id}}">Edit</a>
            <a th:href="@{'/customer_delete/' + ${customer.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
        <br>
        <a th:href="@{'/customer/form'}">Go to customer form</a>

</body>
</html>
