<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Supplier</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">

        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table grid" >
                                <table class="table table-bordered table-striped custom-table text-center">
                                    <tbody>
                                        <tr>
                                            <td><a th:href="@{/supplier}">Suppliers</a></td>
                                            <td><a th:href="@{/products_list}">Inventary</a></td>
                                            <td> <a th:href="@{/products_form}">Add Products</a></td>
                                            <td> <a th:href="@{/products_purchase}">Purchases</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table text-center">
                                <table class="table table-bordered table-striped custom-table">
                                    
                                    <!-- Search and filter section -->
                                    <div class=" form-group row g-3">
                                        <div class="col-md-9">
                                            <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="generalFilter('supplierFirstname')">
                                        </div>
                                        <div class="col-md-3">
                                            <select id="selectInput" class="form-control">
                                                <option value="supplierFirstname" selected>First name</option>
                                                <option value="supplierLastname">Last name</option>
                                                <option value="supplierEmail">EMail</option>
                                                <option value="supplierPhone">Phone</option>
                                                <option value="supplierAdress">Adress</option>
                                                <option value="supplierBureao">Bureao</option>
                                                <option value="supplierDeliveryDateString">Delivery Date</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <!-- Supplier list -->
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Id</th>
                                            <th class="col-md-1">First Name</th>
                                            <th class="col-md-1">Last Name</th>
                                            <th>EMail</th>
                                            <th>Phone</th>
                                            <th class="col-md-2">Adress</th>
                                            <th class="col-md-1">Bureao</th>
                                            <th class="col-md-1">Delivery Date</th>
                                            <th class="col-md-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="filteredTableBody">
                                        <tr th:each="supplier : ${suppliers}">
                                            <td><span class="supplierId" th:text="${supplier.id}"></span></td>
                                            <td><span class="supplierFirstname" th:text="${supplier.firstname}"></span></td>
                                            <td><span class="supplierLastname" th:text="${supplier.lastname}"></span></td>
                                            <td><span class="supplierEmail" th:text="${supplier.email}"></span></td>
                                            <td><span class="supplierPhone" th:text="${supplier.phone}"></span></td>
                                            <td><span class="supplierAdress" th:text="${supplier.adress}"></span></td>
                                            <td><span class="supplierBureao" th:text="${supplier.bureao}"></span></td>
                                            <td><span class="supplierDeliveryDateString" th:text="${supplier.deliveryDateString}"></span></td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-primary btn-sm add mx-2">
                                                        <a th:href="@{'/supplier_update/' + ${supplier.id}}" th:style="'text-decoration: none; color: inherit;'">Update</a>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm remove mx-2" data-toggle="modal" data-target="#confirmDeleteModal" th:data-id="${supplier.id}">
                                                        Delete
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-dark add mx-2">
                                    <a th:href="@{/supplier/form}" th:style="'text-decoration: none; color: inherit;'">Add</a>
                                </button>
                                <!--button class="btn btn-secondary add mx-2">
                                    <a th:href="@{/}" th:style="'text-decoration: none; color: inherit;'">Go back</a>
                                </button-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal DELETE -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas eliminar a este supplier?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a id="confirmDeleteButton" class="btn btn-danger">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{js/myjs.js}"></script>
    <script th:src="@{js/filter.js}"></script>
</html>
