<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table grid" >
                                <table class="table table-bordered table-striped custom-table">
                                    <tbody>
                                        <tr>
                                            <td><a th:href="@{/supplier}">Suppliers</a></td>
                                            <td><a th:href="@{/products_list}">Inventary</a></td>
                                            <td> <a th:href="@{/products_form}">Add Products</a></td>
                                            <td> <a th:href="@{/products_purchase}">Purchases</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <table class="table table-bordered table-striped custom-table">
                                    
                                    <!-- Search and filter section -->
                                    <div class="form-group">
                                        <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="generalFilter('productDescription')">
                                    </div>
                                    
                                    <!-- Inventary list -->
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Product</th>
                                            <th>Max Quantity</th>
                                            <th>Inventory Total Stock/Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody id="filteredTableBody">
                                        <tr th:each="product : ${products}">
                                            <td><span class="productId" th:text="${product.id}"></span></td>
                                            <td><span class="productDescription" th:text="${product.description}"></span></td>
                                            <td><span class="productMinimQuantity" th:text="${product.minimQuantity}"></span></td>
                                            <td><span class="productQuantity" th:text="${product.quantity}"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{js/filter.js}"></script>
</html>