<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products Card</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
            .shopping-cart {
                margin-top: 20px;
            }

            .cart-item {
                margin-bottom: 10px;
            }
        </style>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table grid" >
                                <table class="table table-bordered table-striped custom-table">
                                    <tbody>
                                        <tr>
                                            <td><a th:href="@{/supplier}">Suppliers</a></td>
                                            <td><a th:href="@{/products_list}">Inventary</a></td>
                                            <td> <a th:href="@{/products_form}">Add Products</a></td>
                                            <td> <a th:href="@{/products_purchase}">Purchases</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <table class="table table-bordered table-striped custom-table">

                                    <!-- Search and filter section -->
                                    <div class="form-group">
                                        <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="generalFilter('productName')">
                                    </div>

                                    <!-- Product list -->
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Supplier</th>
                                            <th>Description</th>
                                            <th>Max Quantity</th>
                                            <th>Price</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody id="filteredTableBody">
                                        <tr th:each="product : ${products}">
                                            <td><span class="productName" th:text="${product.name}"></span></td>
                                            <td><span class="productSupplier" th:text="${product.supplier != null ? product.supplier.firstname : ''}"></span></td>
                                            <td><span class="productDesciption" th:text="${product.description}"></span></td>
                                            <td><span th:text="${product.minimQuantity}"></span></td>
                                            <td><span class="productPrice" th:text="${product.price}"></span></td>
                                            <td>
                                                <button class="btn btn-warning btn-sm add mx-2 productQuantity" onclick="confirmPurchase(this)" data-toggle="modal" data-target="#confirmUpdateModal" 
                                                        th:data-id="${product.id}" th:data-restminim="${product.restminim}" th:disabled="${product.restminim le 0}">
                                                    Buy
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <!-- Shopping Cart 
                                    <div class="shopping-cart">
                                        <h3>Shopping Cart</h3>
                                        <ul id="cartItems" class="list-group"></ul>
                                    </div>-->
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirmUpdateModal" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmUpdateModalLabel">Confirmar Compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que deseas Comprar este Producto?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a id="confirmUpdateButton" class="btn btn-danger">UPDATE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{js/shopping.js}"></script>
    <script th:src="@{js/filter.js}"></script>
</html>


