<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table grid" >
                                <table class="table table-bordered table-striped custom-table">
                                    <tbody>
                                        <tr>
                                            <td><a th:href="@{/supplier}">Suppliers</a></td>
                                            <td><a th:href="@{/products_list}">Inventary</a></td>
                                            <td> <a th:href="@{/products_form}">Add Products</a></td>
                                            <td> <a th:href="@{/products_purchase}">Purchases</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <table class="table table-bordered table-striped custom-table">

                                    <!-- Search and filter section -->
                                    <div class="form-group">
                                        <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="generalFilter('productDescription')">
                                    </div>

                                    <!-- Inventary list -->
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Product</th>
                                            <th>Max Quantity</th>
                                            <th>Inventory Total Stock/Quantity</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="filteredTableBody">
                                        <tr th:each="product : ${products}">
                                            <td><span class="productId" th:text="${product.id}"></span></td>
                                            <td><span class="productDescription" th:text="${product.description}"></span></td>
                                            <td><span class="productMinimQuantity" th:text="${product.minimQuantity}"></span></td>
                                            <td><span class="productQuantity" th:text="${product.quantity}"></span></td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-primary btn-sm add mx-2" data-toggle="modal"  data-target="#confirmUpdateModal" th:data-id="${product.id}">
                                                        Update
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal UPDATE -->
        <div class="modal fade" id="confirmUpdateModal" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmUpdateModalLabel">Confirmar Actualización</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas actualizar este empleado?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a id="confirmUpdateButton" class="btn btn-danger">UPDATE</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{js/filter.js}"></script>
    <script th:src="@{js/Products.js}"></script>
</html>