<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <h2 class="text-center">Insert Products</h2>

                                <form th:object="${products}" th:action="@{/SaveProducts}" method="POST">

                                    <div class="form-group">
                                        <label for="name">Nom:</label> 
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="supplier">Proveedor: </label>
                                        <select class="form-control" id="supplier" name="supplier" required>
                                            <option value="">Selecciona un proveedor</option>
                                            <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.firstname}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Description: </label>
                                        <input type="text" name="description" id="description" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="price">Price: </label>
                                        <input type="number" name="price" id="price" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="minimQuantity">Max Quantity: </label>
                                        <input type="number" name="minimQuantity" id="minimQuantity" class="form-control"  required>
                                    </div>

                                    <!--div class="form-group">
                                        <label for="interest">Interest: </label>
                                        <input type="number" name="interest" id="interest" class="form-control" required>
                                    </div-->

                                    <div class="form-group">
                                        <label for="product">Numero identificativo (codigo de barras): </label>
                                        <input type="number" name="product" id="product" class="form-control" required>
                                    </div>

                                    <h1 class="text-center">
                                        <input type="hidden" id="id" >
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button class="btn btn-secondary add mx-2">
                                            <a th:href="@{/products_purchase}" th:style="'text-decoration: none; color: inherit;'">Go back</a>
                                        </button>
                                    </h1>

                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>