<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Roles</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 class="text-center">Update Roles information</h2>
        <form th:object="${employee}" th:action="@{/employee/roles_update}" method="post"
>           <input type="text" name="username" id="id" class="form-control" th:field="*{id}" required>
            <input type="text" name="username" id="username" class="form-control" th:field="*{username}" required>
            <!--input type="checkbox" name="roles"
                th:each="role : *{rols}"
                th:text="${role.nom}"
                th:value="${role.nom}"
                th:checked="${role.active}"
                th:field="*{rols}"
            /-->
            
            <div th:each="role : *{rols}">
                <label class="custom-control-label" th:text="${role.nom}"/>
                <input class="custom-control-input" th:name="${role.nom}" th:id="${role.nom}" type="checkbox" th:checked="${role.active}"/>
            </div>
            
            
            <!--div th:each="role : ${rolesDisponibles}">
                <div class="col-6">
                    <div class="custom-control custom-checkbox">
                        <label class="custom-control-label" th:text="${role.key}"/>
                        <input class="custom-control-input" th:name="${role.key}" th:id="${role.key}" type="checkbox" th:checked="${false ? true: role.value}"/>
                    </div>
                </div>
            </div-->
            <br>
            <div class="text-center">
                <!--input type="hidden" id="id" name="id" th:field="*{id}"-->
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary add mx-2">
                    <a th:href="@{/employee_list}" th:style="'text-decoration: none; color: inherit;'">Go back</a>
                </button>
            </div>
            
        </form>
    </body>
</html>
