<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Roles</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link th:href="@{../../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">

        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color:white" class="text-center">Update Roles information from the user [[${employeeUserName}]]</p>
                            <form th:object="${employee}" th:action="@{/employee/roles_update}" method="post">
                                <div style="margin-bottom: 20px" class="form-check form-check-inline" th:each="role : *{rols}">
                                    <input class="form-check-input" type="checkbox" name="roles" th:id="${role.nom}" th:checked="${role.active}" th:value="${role.nom}" />
                                    <label class="form-check-label" style="color:white" for="${role.nom}" th:text="${role.nom}"/>
                                </div>
                                <div class="text-center">
                                    <input type="hidden" id="id" th:field="*{id}">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                    <button class="btn btn-secondary add mx-2">
                                        <a th:href="@{/employee_list}" th:style="'text-decoration: none; color: inherit;'">Go back</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
