<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link th:href="@{css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">
        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <table class="table table-bordered table-striped custom-table">
                                    <div class="card-header bg-light">
                                        <h2 class="text-center">Formulario de Envío de Correo</h2>
                                    </div>
                                    <div class="card-body">
                                        <form id="emailForm" th:action="@{/send-email}" method="POST">
                                            <div class="form-group">
                                                <label for="to">Para:</label>
                                                <input type="email" class="form-control" id="to" name="to" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="subject">Asunto:</label>
                                                <input type="text" class="form-control" id="subject" name="subject" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="text">Contenido:</label>
                                                <textarea class="form-control" id="text" name="text" required></textarea>
                                            </div>

                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-primary" onclick="sendEmail()">Enviar Correo</button>
                                            </div>
                                            <button class="btn btn-secondary add mx-2">
                                                <a th:href="@{/visits/visits_list}" th:style="'text-decoration: none; color: inherit;'">Go back</a>
                                            </button>
                                        </form>
                                    </div>
                                </table>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function sendEmail() {
                var formData = {
                    to: $("#to").val(),
                    subject: $("#subject").val(),
                    text: $("#text").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/send-email",
                    data: formData,
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }

        </script>
    </body>
</html>

