<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Pagines disponibles fent login</h1>
            <a th:href="@{/accounting}">Accounting</a>
            <a th:href="@{/commercial}">Commercial</a>
            <a th:href="@{/seller}">Seller</a>
            <a th:href="@{/employee_list}">Empleats(Human_resources)</a>
            <a th:href="@{/veterinarian}">Veterinarian</a>
            <a th:href="@{/purchase}">Purchase_managment</a>
        </div>
        
    </body>
</html>
