<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Empleados</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .employee {
                padding: 10px;
                border: 1px solid #ddd;
                margin-bottom: 10px;
            }
            .employee:hover {
                background-color: #f1f1f1;
            }
            .employee .name {
                font-weight: bold;
            }
            .employee .add,
            .employee .remove {
                cursor: pointer;
                margin-left: 10px;
            }
            .shopping-cart {
                margin-top: 20px;
            }

            .cart-item {
                margin-bottom: 10px;
            }
            .alert {
                padding: 20px;
                background-color: #f44336;
                color: white;
                opacity: 1;
                transition: opacity 0.6s;
                margin-bottom: 15px;
            }
            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

            .closebtn:hover {
                color: black;
            }

        </style>
        <link th:href="@{../css/main.css}" rel="stylesheet"/>
    </head>
    <body class="bg-light-blue">

        <header th:replace="fragments/header :: header"></header>

        <div class="main-content">
            <div class="table-responsive">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <table class="table table-bordered table-striped custom-table">
                                    
                                    <div th:if="${errorMessage != null}">
                                        <div class="alert">
                                            <span class="closebtn">&times;</span>  
                                            <strong>Error!</strong> [[${errorMessage}]]
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- Search and filter section -->
                                    <div class=" form-group row g-3">
                                        <div class="col-md-9">
                                            <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="generalFilter('employeeUsername')">
                                        </div>
                                        <div class="col-md-3">
                                            <select id="selectInput" class="form-control">
                                                <option value="employeeUsername" selected>User name</option>
                                                <option value="employeeNextAvailableWorkTime">Available work time</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <!-- Employee list -->
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Available Work Time</th>
                                            <th>Acttions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="filteredTableBody">
                                        <tr th:each="employee : ${employees}">
                                            <td><span class="employeeId" th:text="${employee.id}"></span></td>
                                            <td><span class="employeeUsername" th:text="${employee.username}"></span></td>
                                            <td><span class="employeeNextAvailableWorkTime" th:text="${employee.nextAvailableWorkTime}"></span></td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-primary btn-sm add mx-2">
                                                        <a th:href="@{'/employee/roles_form/' + ${employee.id}}" th:style="'text-decoration: none; color: inherit;'">Roles</a>
                                                    </button>
                                                    <button class="btn btn-primary btn-sm add mx-2" data-toggle="modal"  data-target="#confirmUpdateModal" th:data-id="${employee.id}">
                                                        <!--a th:href="@{'/update/' + ${employee.id}}" th:style="'text-decoration: none; color: inherit;'">Update</a-->
                                                        Update
                                                    </button>
                                                    <button  th:disabled="${employee.state > 0}" class="btn btn-primary btn-sm add mx-2"> 
                                                        <a  th:href="@{'/desbloqueja/'+ ${employee.id}}" th:style="'text-decoration: none; color: inherit;'">Desbloqueja</a>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm remove mx-2" data-toggle="modal" data-target="#confirmDeleteModal" th:data-id="${employee.id}">
                                                        Delete
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                            <div class="d-flex justify-content-center">
                                    <button class="btn btn-dark add mx-2">
                                        <a th:href="@{employee_form}" th:style="'text-decoration: none; color: inherit;'">Add</a>
                                    </button>
                                    <!--button class="btn btn-secondary btn-sm add mx-2">
                                        <a th:href="@{/}" th:style="'text-decoration: none; color: inherit;'">Go back</a>
                                    </button-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal UPDATE -->
        <div class="modal fade" id="confirmUpdateModal" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmUpdateModalLabel">Confirmar Actualización</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas actualizar este empleado?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a id="confirmUpdateButton" class="btn btn-danger">UPDATE</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal DELETE -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas eliminar a este empleado?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a id="confirmDeleteButton" class="btn btn-danger">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{js/myjs.js}"></script>
    <script th:src="@{js/filter.js}"></script>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () {
                    div.style.display = "none";
                }, 600);
            }
        }
        </script>
</html>
